@model IEnumerable<UnderSection>
@{
    Layout = "_AdminLayout";
}

<main class="main">
    <div class="card" style="padding:20px">
        <table dir="rtl" id="BlogTab">
            <thead>
                <tr>

                    <th style="text-align:right;">@Html.DisplayNameFor(model=>model.Name)</th>
                    <th style="text-align:right;">@Html.DisplayNameFor(model=>model.Section.Name)</th>
                    <th width="20%"></th>


                </tr>
            </thead>
            <tbody>
                @foreach (var sect in Model)
                {
                    <tr>
                        <td>@(sect.Name.Length > 28 ? sect.Name.Substring(0, 27) + " ..." : sect.Name)</td>
                        <td>@(sect.Section?.Name.Length > 28 ? sect.Section?.Name.Substring(0, 27) + " ..." : sect.Section?.Name)</td>

                        <td style="text-align:center">
                            <a asp-controller="UnderSection" asp-action="Edit" asp-route-id="@sect.Id" class="btn btn-primary"><i class="fa fa-pencil fa-lg"></i></a>
                            <form asp-controller="UnderSection" asp-action="Delete" asp-route-id="@sect.Id" onSubmit="if(!confirm('تأكيد حذف الفئة الثانوية؟')){return false;}">
                                <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o fa-lg"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</main>