@{
    
}
<!DOCTYPE html>
<html lang="ar-ma" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>الرئيسية - البوابة الإلكترونية الرسمية لمجلس إقليم تطوان</title>
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/simple-line-icons.css" rel="stylesheet">
    <link href="~/css/dest_style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="navbar-fixed sidebar-nav fixed-nav">
    <header class="navbar">
        <div class="container-fluid">
            <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">&#9776;</button>
            @*<a class="navbar-brand" href="#"></a>*@
            <ul class="nav navbar-nav hidden-md-down">
                <li class="nav-item">
                    <a class="nav-link navbar-toggler layout-toggler" href="#">&#9776;</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="icon-speedometer"></i> المسؤول <span class="tag tag-info">جدید</span></a>
                </li>

                <li class="nav-title">
                    المقالات
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Index"><i class="icon-docs"></i>  جميع المقالات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Create"><i class="icon-docs"></i> إضافة مقالة</a>
                </li>
                <li class="nav-title">
                    الفئات  
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Section" asp-action="Index"><i class="icon-user-follow"></i> الفئات الرئيسية </a>
                    <a class="nav-link" asp-controller="Section" asp-action="Create"><i class="icon-people"></i> إضافة فئة رئيسية </a>
                    <a class="nav-link" asp-controller="UnderSection" asp-action="Index" ><i class="icon-user-following"></i> الفئات  الثانوية</a>
                    <a class="nav-link" asp-controller="UnderSection" asp-action="Create" ><i class="icon-people"></i> إضافة فئة ثانوية </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Parameter" asp-action="Index"><i class="icon-docs"></i> الإعدادات </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="DynamicView" asp-action="Index"><i class="icon-docs"></i> الصفحات </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="DynamicView" asp-action="Create"><i class="icon-docs"></i> صفحة جديدة </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="container-fluid main m-t-3">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-inverse card-primary">
                                <div class="card-block p-b-5">
                                    <h4 class="m-b-1">@ViewBag.NbrBlogs</h4>
                                    <h6>عدد المقالات</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-inverse card-info">
                                <div class="card-block p-b-5">
                                    <h4 class="m-b-1">@ViewBag.NbrSections</h4>
                                    <h6>عدد الفئات الرئيسية</h6>
                                </div>
                            </div>
                        </div>
                        <!--/col-->

                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-inverse card-warning">
                                <div class="card-block p-b-5">
                                    <h4 class="m-b-1">@ViewBag.NbrUnderSections</h4>
                                    <h6>عدد الفئات الفرعية</h6>
                                </div>
                            </div>
                        </div>
                        <!--/col-->

                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-inverse card-danger">
                                <div class="card-block p-b-5">
                                    <h4 class="m-b-1">@ViewBag.NbrAchievements</h4>
                                    <h6>الفئات الخاصة بالمشاريع منجزة</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.container-fluid-->

            @RenderBody()
        </main>
    </div>


    <!-- Bootstrap and necessary plugins -->
    <script src="~/js/libs/jquery.min.js"></script>
    <script src="~/js/libs/tether.min.js"></script>
    <script src="~/js/libs/bootstrap.min.js"></script>
    <script src="~/js/libs/pace.min.js"></script>

    <script src="~/js/app.js"></script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
