@model Blog
@{
    Layout = "_AdminLayout2";
}
@section Styles{
    @*<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    }

<main class="main">
    

    <div class="card">
        <div class="card-header">
            <strong>إنشاء مقالة </strong> 
        </div>
        <div class="card-block">
            <form asp-controller="Admin" asp-action="Create" method="post" class="form-horizontal" enctype="multipart/form-data" >
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="hf-email"> العنوان </label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Title, new {
                            @placeholder="العنوان",
                            @class = "form-control" ,
                            @required="true",
                            @oninvalid="this.setCustomValidity('اذخل عنوان المقالة')"
                        })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="hf-email">الوصف</label>
                    <div class="col-md-9">
                        @*<div id="summernote" ></div>*@
                        @Html.TextAreaFor(model => model.Description, new {
                            @placeholder="العنوان",
                            @class = "form-control",
                        @id="summernote"
                        })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="hf-email">الصورة الأساسية</label>
                    <div class="col-md-9">
                        <input asp-for="Image" name="Image" type="file" class="form-control" accept=".jpg,.png,.gif">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="hf-email">الإسم الفئة </label>
                    <div class="col-md-9">
                        <select id="UnderSectionId" onchange="toggleSecondSelect(this)" asp-for="TypeBlog" class="form-control col-md-9">
                        <option value="@((int)TypePage.council_activite)">@((TypePage.council_activite).GetDisplayName())</option>
                        <option value="@((int)TypePage.ads_blogs)">@((TypePage.ads_blogs).GetDisplayName())</option>
                        <option value="@((int)TypePage.achievements)">@((TypePage.achievements).GetDisplayName())</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row" id="TyepBlogId" style="display: none;">
                    <label class="col-md-2 form-control-label" for="hf-email">نوع الصفحة</label>
                    <div class="col-md-9">
                        <select required  asp-for="AchieveSection" class="form-control col-md-9" 
                                asp-items="@(new SelectList(ViewBag.Achievements,"Id","Name"))">
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-sm btn-primary col-md-2 p-x-3" style="padding-top:8px; padding-bottom:8px;"><i class="fa fa-dot-circle-o"></i> حفظ</button>
            </form>
        </div>
    </div>
                
</main>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
        function toggleSecondSelect(selectElement) {
            var secondSelectContainer = document.getElementById("TyepBlogId");
            if (selectElement.value === "@((int)TypePage.achievements)") {
                secondSelectContainer.style.display = "block";
            } else {
                secondSelectContainer.style.display = "none";
            }
        }

        //document.addEventListener('DOMContentLoaded', function () {
        //    var mainSectionId = document.getElementById('TypeBlogId');
        //    var underSectionId = document.getElementById('UnderSectionId');

        //    mainSectionId.addEventListener('change', function () {
        //        var selectedMainSectionId = mainSectionId.value;
        //        var xhr = new XMLHttpRequest();
        //        xhr.open('GET', '/Admin/GetUnders/' + selectedMainSectionId, true);
        //        console.log(xhr.responseType)
        //        xhr.onload = function () {
        //            if (xhr.status === 200) {
        //                var data = JSON.parse(xhr.responseText);
        //                console.log(data.length)
        //                if (data.length == 0){
        //                    underSectionId.innerHTML = '<option value=""> الفئة الرئيسية ليس لها فئات فرعية</option>';
        //                }else{
        //                    underSectionId.innerHTML=null;
        //                    data.forEach(function (underSection) {
        //                        var option = document.createElement('option');
        //                        option.value = underSection.id;
        //                        option.textContent = underSection.name;
        //                        underSectionId.appendChild(option);
        //                    });
        //                }


        //            } else {
        //                underSectionId.innerHTML = '<option value="">حدث خطأ أثناء التحميل1</option>';
        //            }
        //        };

        //        xhr.onerror = function () {
        //            underSectionId.innerHTML = '<option value="">حدث خطأ أثناء التحميل2</option>';
        //        };

        //        xhr.send();
        //    });

        //    underSectionId.addEventListener('change', function(){
        //        console.log("has benn cahnge : " + underSectionId.value)
        //    })
        //});

</script>
}