@model Blog
@{
    Layout = "_AdminLayout";
}
@section Styles{
    <script src="https://cdn.tiny.cloud/1/z58rtdl6q5qhl0s6pjo63dqtxdcqx6yftfoo4fqk4bggkj99/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    }

<main class="main">
    

    <div class="card">
        <div class="card-header">
            <strong>إنشاء مقالة </strong> 
        </div>
        <div class="card-block">
            <form asp-controller="Admin" asp-action="Create" method="post" class="form-horizontal" enctype="multipart/form-data" >
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="hf-email"> العنوان </label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Title, new {
                            @placeholder="العنوان",
                            @class = "form-control" ,
                            @required="true",
                            @oninvalid="this.setCustomValidity('اذخل عنوان المقالة')"
                        })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="hf-email">الوصف</label>
                    <div class="col-md-9">
                        @*<div id="summernote" ></div>*@
                        @Html.TextAreaFor(model => model.Description, new {
                            @placeholder="العنوان",
                            @class = "form-control",
                        @id="textarea"
                        })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="hf-email">الصورة الأساسية</label>
                    <div class="col-md-9">
                        <input asp-for="Image" name="Image" type="file" class="form-control" accept=".jpg,.png,.gif">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="hf-email">الإسم الفئة </label>
                    <div class="col-md-9">
                        <select id="UnderSectionId" onchange="toggleSecondSelect(this)" asp-for="TypeBlog" class="form-control col-md-9">
                        <option value="@((int)TypePage.council_activite)">@((TypePage.council_activite).GetDisplayName())</option>
                        <option value="@((int)TypePage.ads_blogs)">@((TypePage.ads_blogs).GetDisplayName())</option>
                        <option value="@((int)TypePage.achievements)">@((TypePage.achievements).GetDisplayName())</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row" id="TyepBlogId" style="display: none;">
                    <label class="col-md-2 form-control-label" for="hf-email">نوع الصفحة</label>
                    <div class="col-md-9">
                        <select required  asp-for="AchieveSection" class="form-control col-md-9" 
                                asp-items="@(new SelectList(ViewBag.Achievements,"Id","Name"))">
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-sm btn-primary col-md-2 p-x-3" style="padding-top:8px; padding-bottom:8px;"><i class="fa fa-dot-circle-o"></i> حفظ</button>
            </form>
        </div>
    </div>
                
</main>
@section Scripts {

<script>

        tinymce.init({
            selector: '#textarea',
            language: 'ar',
            directionality: 'rtl',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Hamza mouddakir',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
        });

        function toggleSecondSelect(selectElement) {
            var secondSelectContainer = document.getElementById("TyepBlogId");
            if (selectElement.value === "@((int)TypePage.achievements)") {
                secondSelectContainer.style.display = "block";
            } else {
                secondSelectContainer.style.display = "none";
            }
        }


</script>
}