@model IEnumerable<Blog>;
@{
    Layout = "_AdminLayout";
}


<main class="main">
    <div class="card" style="padding:20px">
        <table dir="rtl" id="BlogTab">
            <thead>
                <tr>

                    <th style="text-align:right;">@Html.DisplayNameFor(model=>model.Image)</th>
                    <th style="text-align:right;">@Html.DisplayNameFor(model=>model.Title)</th>
                    <th style="text-align:right;">@Html.DisplayNameFor(model=>model.Description)</th>
                    <th style="text-align:right;">@Html.DisplayNameFor(model=>model.TypeBlog)</th>
                    <th></th>

                    
                </tr>
            </thead>
            <tbody>
                @foreach(var blog in Model)
                {
                    <tr>
                        <td width="5%"> <img src="@blog.Image" style="width:100%;" alt="" /></td>
                        <td>@(blog.Title?.Length > 28 ? blog.Title.Substring(0, 27) + " ..." : blog.Title)</td>
                        <td>@(blog.Description?.Length>50?blog.Description.Substring(0,49)+" ...":blog.Description) </td>
                        <td>@(((TypePage)blog.TypeBlog).GetDisplayName())</td>
                       
                        <td style="display:flex">
                            <a asp-controller="Admin" asp-action="Edit" asp-route-id="@blog.Id" class="btn btn-primary"><i class="fa fa-pencil fa-lg"></i></a>
                            <form asp-controller="Admin" asp-action="Delete" asp-route-id="@blog.Id" onSubmit="if(!confirm('تأكيد حذف المقالة؟')){return false;}">
                                <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o fa-lg"></i></button>
                            </form>
                            <a asp-controller="Admin" asp-action="Details" asp-route-id="@blog.Id" class="btn btn-info"><i class="fa fa-eye fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>

@section Scripts{

    <script src="js/views/main.js"></script>
    <script src="~/js/datatable/cdn.datatables.net_1.13.6_js_jquery.dataTables.js"></script>
    <script>
        var table = new DataTable('#BlogTab', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/ar.json',
            },
        });

        //$(document).ready(function () {
        //    $('#BlogTab').DataTable();
        //});
    </script>
}