@model Blog
@{
    Layout = "_AdminLayout";
}
@section Styles{
    <script src="https://cdn.tiny.cloud/1/z58rtdl6q5qhl0s6pjo63dqtxdcqx6yftfoo4fqk4bggkj99/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    }

<main class="main">

    <div class="card">
        <div class="card-header">
            <strong>تحديث المقالة </strong>
        </div>
        <div class="card-block">
            <form asp-controller="Admin" asp-action="Edit" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="hf-email"> العنوان </label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.Title, new {
                        @placeholder="العنوان",
                        @class = "form-control" ,
                        @required="true",
                        @oninvalid="this.setCustomValidity('اذخل عنوان المقالة')"
                        })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="hf-email">الوصف</label>
                    <div class="col-md-10">
                        @*<div id="summernote" ></div>*@
                        @Html.TextAreaFor(model => model.Description, new {
                        @placeholder="العنوان",
                        @class = "form-control",
                        @id="textarea"
                        })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="hf-email">الصورة</label>
                    <div class="col-md-9">
                        <input name="Image" value="@Model.Image" asp-for="Image" type="file" class="form-control" accept=".jpg,.png,.gif">

                    </div>
                    <div class="col-md-1">
                        <img src="@Model.Image"  style="width:100%"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="hf-email">نوع المقالة </label>
                    <div class="col-md-9">
                        <select id="UnderSectionId" onchange="toggleSecondSelect(this)" asp-for="TypeBlog" class="form-control col-md-9">
                            <option value="@((int)TypePage.council_activite)">@((TypePage.council_activite).GetDisplayName())</option>
                            <option value="@((int)TypePage.ads_blogs)">@((TypePage.ads_blogs).GetDisplayName())</option>
                            <option value="@((int)TypePage.achievements)">@((TypePage.achievements).GetDisplayName())</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row" id="TyepBlogId" style="display: none;">
                    <label class="col-md-2 form-control-label" for="hf-email">فئة المقالة </label>
                    <div class="col-md-9">
                        <select required asp-for="AchieveSection" class="form-control col-md-9"
                                asp-items="@(new SelectList(ViewBag.Achievements,"Id","Name"))">
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-sm btn-primary col-md-2 p-x-3" style="padding-top:8px; padding-bottom:8px;"><i class="fa fa-dot-circle-o"></i> حفظ</button>
            </form>
        </div>
    </div>

</main>
@section Scripts {
    <script>

        tinymce.init({
            selector: '#textarea',
            language: 'ar',
            directionality: 'rtl',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Hamza mouddakir',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
        });
        function toggleSecondSelect(selectElement) {
            var secondSelectContainer = document.getElementById("TyepBlogId");
            if (selectElement.value === "@((int)TypePage.achievements)") {

                secondSelectContainer.style.display = "block";
            
            } else {
                secondSelectContainer.style.display = "none";
            
            }
        }
        //document.addEventListener('DOMContentLoaded', function () {
        //    var mainSectionId = document.getElementById('MainSectionId');
        //    var underSectionId = document.getElementById('UnderSectionId');

        //    mainSectionId.addEventListener('change', function () {
        //        var selectedMainSectionId = mainSectionId.value;
        //        //underSectionId.innerHTML = '<option value="">جاري التحميل...</option>';

        //        var xhr = new XMLHttpRequest();
        //        xhr.open('GET', '/Admin/GetUnders/' + selectedMainSectionId, true);
        //        xhr.onload = function () {
        //            if (xhr.status === 200) {
        //                var data = JSON.parse(xhr.responseText);
        //                console.log(data.length)
        //                if (data.length == 0) {
        //                    underSectionId.innerHTML = '<option value=""> الفئة الرئيسية ليس لها فئات فرعية</option>';
        //                } else {
        //                    underSectionId.innerHTML = null;
        //                    data.forEach(function (underSection) {
        //                        var option = document.createElement('option');
        //                        option.value = underSection.id;
        //                        option.textContent = underSection.name;
        //                        underSectionId.appendChild(option);
        //                    });
        //                }


        //            } else {
        //                underSectionId.innerHTML = '<option value="">حدث خطأ أثناء التحميل</option>';
        //            }
        //        };

        //        xhr.onerror = function () {
        //            underSectionId.innerHTML = '<option value="">حدث خطأ أثناء التحميل</option>';
        //        };

        //        xhr.send();
        //    });

        //    underSectionId.addEventListener('change', function () {
        //        console.log("has benn cahnge : " + underSectionId.value)
        //    })
        //});

    </script>
}