@model Blog;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link rel="stylesheet" href="~/css/BlogDetails.css">
}
<div class="main">
    <div style="padding:10px 5%;" class="card col-md-12 p-x-3">
        <div class="BlogHead">
            <small class=""> الرئيسية/Model.Section?.Name/Model.UnderSection?.Name/ @Model.Title    </small>
            <small style="font-style:italic; font-size:14px;">@DateOnly.FromDateTime(Model.CreationDate)</small>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8" style="margin:auto;">
                <img src="@Model.Image" style="width: 300px" />
            </div>
        </div>
        <h1>@Model.Title</h1>
        <div class="description">
            @Html.Raw(Model.Description)
        </div>
        <div class="BlogFooter">
            <small style="" class="p-y-1 p-x-2 tags">مستجدات</small>
        </div>
    </div>
</div>


<div class="voyage bg-light row d-flex justify-content-evenly">
    <div class="col-3">
        <img src="~/images/blogs/number-urgant-1.png" width="100%"/>
    </div>
    <div class="col-3">
        <img src="~/images/blogs/CTM.png" width="100%"/>
    </div>
</div>
