@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
    IEnumerable<Blog> Blogss = ViewBag.Blogs as IEnumerable<Blog>;
    var Blogs = Blogss.ToList();

    IEnumerable<Achievement> achievements = ViewBag.AchievementSections as IEnumerable<Achievement>;
    var Achievements = achievements.ToList();
    
    IEnumerable<Blog> BlogAch = ViewBag.BlogAchieve as IEnumerable<Blog>;
    var BlogAchievements = BlogAch.ToList();

    IEnumerable<Parameters> Parameterss = ViewBag.Parameters as IEnumerable<Parameters>;
    var Parameters = Parameterss.ToList();
    var FavIcon = Parameters.Where(p => p.Key == "FavIcon").FirstOrDefault()?.Value;
    var HeaderImage = Parameters.Where(p => p.Key == "HeaderImage").FirstOrDefault()?.Value;
    var Title = Parameters.Where(p => p.Key == "TitleWeb").FirstOrDefault()?.Value;
    var ShowTimeTravel = Parameters.Where(p => p.Key == "ShowTimeVoyage").FirstOrDefault()?.Value;

}
@section Styles{
    <style>

    </style>
}
<div class="main">
    <div class="lastest">
        <div class="HeaderTitle">مستجدات</div>
        <div class="blogs">
            <div class="mainblog mx-1">
                <img src="~/images/blogs/aaa.jpg" alt="" />
                <small class="date text-muted">@DateOnly.FromDateTime(Blogs[0].CreationDate)</small>
                <a href="">
                    <h4>@Blogs[0].Title</h4>
                </a>
                <button style="font-weight:300; border-radius:inherit;" class="btn btn-primary">أكمل القراءة </button>
            </div>
            <div class="secondblogs">
                @foreach (var blog in Blogs)
                {
                    @if(blog.Id == Blogs[0].Id)
                    {
                        continue;
                    }
                    <a style="display:inherit;" asp-controller="Admin" asp-action="Details" asp-route-id="@blog.Id">
                        <div class="my-1 d-flex">
                            <img src="~/images/blogs/aaa.jpg" alt="" class="mx-1" style="width:49%" />
                            <p>
                                <small style="font-size:10px ; font-weight:100;" class="text-muted d-block">@DateOnly.FromDateTime(blog.CreationDate)</small>
                                <span class="text-secondary">
                                    @blog.Title
                                </span>
                            </p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="wordOfHead">
        <div class="HeaderTitle">كلمة رئيس المجلس الإقليمي</div>
        <img src="~/images/blogs/PREE.png" alt="" />
        <p >
            أختي المواطنة، أخي المواطن، يسرني أصالة عن نفسي ونيابة عن كافة أعضاء مجلس إقليم تطوان، أن أرحب بكم في البوابة الإلكترونية الرسمية للمجلس، التي نروم من خلالها أن تكون أداة للتواصل بين المجلس و مواطني الإقليم ومختلف متتبعي الشأن العام المحلي. تتيح البوابة لزائريها الاطلاع على بيانات ومعلومات عامة عن الإقليم و كذا الإطلاع على التنظيم الهيكلي للمجلس وأنشطته
        </p>
        <button style="font-weight:300; border-radius:inherit;" class="btn btn-primary">أكمل القراءة </button>
    </div>
</div>
<div class="">
    <nav class="navbar navbar-expand-lg text-white">
        <div class="SecondNavbar collapse navbar-collapse" id="navbarSupportedContent">
            <div class="rightText">
                مشاريع و منجزات
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active BtnGetAllAchievemenets">
                    <a class="nav-link active" data-achieveid="" href="">الكل</a>
                </li>
                @foreach (var achi in achievements)
                {
                    <li class="nav-item">
                        <a class="nav-link achieveNavItem" data-achieveid="@achi.Id" href="">@achi.Name</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="CardsSeconNav row" style="display:flex; flex-wrap:wrap;">
        @foreach (var blogach in BlogAchievements)
        {
            <div id="@blogach.UnderSectionId" class="Card SectachieveNavItem">
                <img src="@blogach.Image" alt="" />
                <h6>@blogach.Title</h6>
            </div>
        }
        
    </div>

</div>
@if(ShowTimeTravel=="true")
{
    <div class="voyage bg-light row d-flex justify-content-evenly">
        <div class="col-3">
            <img src="~/images/blogs/number-urgant-1.png" width="100%" />
        </div>
        <div class="col-3">
            <img src="~/images/blogs/CTM.png" width="100%" />
        </div>
    </div>
}

@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function (e) {
            const achieveNavItem = document.querySelectorAll(".achieveNavItem");
            const SectachieveNavItem = document.querySelectorAll(".SectachieveNavItem");
            e.preventDefault();

            achieveNavItem.forEach(item => {
                item.addEventListener("click", function (ee) {
                    ee.preventDefault();
                    const sectionId = item.getAttribute("data-achieveid");
                    SectachieveNavItem.forEach(section => {
                        section.style.display = "none";
                    });
                    document.getElementById(sectionId).style.display = "block";

                    achieveNavItem.forEach(navItem => {
                        navItem.classList.remove("active");
                    });
                    item.classList.add("active");
                });
            });
            const getAllButton = document.querySelector(".BtnGetAllAchievemenets");
            getAllButton.addEventListener("click", function (ee) {
                ee.preventDefault();
                console.log("All clicked")
                SectachieveNavItem.forEach(section => {
                    section.style.display = "block";
                });
                achieveNavItem.forEach(navItem => {
                    navItem.classList.remove("active");
                });
                getAllButton.classList.add("active")
            });
        });
        
    </script>
}
