@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
    IEnumerable<Blog> Blogss = ViewBag.Blogs as IEnumerable<Blog>;
    var Blogs = Blogss.ToList();

    IEnumerable<Achievement> achievements = ViewBag.AchievementSections as IEnumerable<Achievement>;
    var Achievements = achievements.ToList();

    IEnumerable<Blog> BlogAch = ViewBag.BlogAchieve as IEnumerable<Blog>;
    var BlogAchievements = BlogAch.ToList();

    IEnumerable<Parameters> Parameterss = ViewBag.Parameters as IEnumerable<Parameters>;
    var Parameters = Parameterss.ToList();
    var FavIcon = Parameters.Where(p => p.Key == "FavIcon").FirstOrDefault()?.Value;
    var HeaderImage = Parameters.Where(p => p.Key == "HeaderImage").FirstOrDefault()?.Value;
    var Title = Parameters.Where(p => p.Key == "TitleWeb").FirstOrDefault()?.Value;

    DynamicView HeadWordBlog = ViewBag.HeadWordBlog as DynamicView;

}
@section Styles{
    <style>

    </style>
}
<div class="main">
    <div class="lastest">
        <div class="HeaderTitle">مستجدات</div>
        <div class="blogs">
            <div class="mainblog mx-1">
                <img src="@Blogs[0].Image" alt="" />
                <small class="date text-muted">
                    
                    @if(Blogs != null && Blogs.Count > 0)
                    {
                         <small class='date text-muted'>@DateOnly.FromDateTime(Blogs[0].CreationDate)</small>
                        
                    }
                </small>
                <a asp-controller="Admin" asp-action="Details" asp-route-id="@Blogs?[0].Id">
                    <h4>@(Blogs != null &&  Blogs.Count > 0?Blogs[0].Title:"")</h4>
                </a>
                <a asp-controller="Admin"  asp-action="Details" asp-route-id="@Blogs?[0].Id" style="font-weight:300; border-radius:inherit;" class="btn btn-primary">أكمل القراءة </a>
            </div>
            <div class="secondblogs">
                @foreach (var blog in Blogs)
                {
                    @if(blog.Id == Blogs[0].Id)
                    {
                        continue;
                    }
                    <a style="display:inherit;" asp-controller="Admin" asp-action="Details" asp-route-id="@blog.Id">
                        <div class="blogDiv my-1 d-block d-md-flex">
                            <img src="@blog.Image" alt="" class="mx-1" />
                            <p>
                                <small style="font-size:10px ; font-weight:100;" class="text-muted d-block">@DateOnly.FromDateTime(blog.CreationDate)</small>
                                <span class="text-secondary">
                                    @blog.Title
                                </span>
                            </p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="wordOfHead" style="font-size:16px; padding:15px;">
        <div class="HeaderTitle">@HeadWordBlog?.ViewName</div>
        <img src="@HeadWordBlog?.ImageCover" alt="" />
        <p>
            @Html.Raw(HeadWordBlog?.ViewDesign.Substring(0,400))
        </p>
        <a asp-controller="DynamicView" asp-action="Details" asp-route-id="@HeadWordBlog.Id" style="font-weight:300; border-radius:inherit;" class="btn btn-primary">أكمل القراءة </a>
    </div>
</div>
<div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <div class="rightText text-white">
            مشاريع و منجزات
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentSecond" aria-controls="navbarSupportedContentSecond" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  mx-md-5" id="navbarSupportedContentSecond">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active BtnGetAllAchievemenets">
                    <a class="nav-link active" data-achieveid="" href="">الكل</a>
                </li>
                @foreach (var achi in Achievements)
                {
                    <li class="nav-item">
                        <a class="nav-link achieveNavItem" data-achieveid="@achi.Id" href="">@achi.Name</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="CardsSeconNav row" style="display:flex; flex-wrap:wrap;">
        @foreach (var blogach in BlogAchievements)
        {
            <div id="@blogach.AchieveSection" class="Card SectachieveNavItem">
                <a asp-controller="Admin" asp-action="Details" asp-route-id="@blogach.Id" >
                    <img src="@blogach.Image" alt="" />
                    <h6>@blogach.Title</h6>
                </a>
            </div>
        }
        
    </div>

</div>


@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function (e) {
            const achieveNavItem = document.querySelectorAll(".achieveNavItem");
            const SectachieveNavItem = document.querySelectorAll(".SectachieveNavItem");

            achieveNavItem.forEach(item => {
                item.addEventListener("click", function (ee) {
                    ee.preventDefault();
                    const sectionId = item.getAttribute("data-achieveid");
                    SectachieveNavItem.forEach(section => {
                        if (section.getAttribute("id") === sectionId) {
                            section.style.display = "block";
                        } else {
                            section.style.display = "none";
                        }
                    });




                    achieveNavItem.forEach(navItem => {
                        navItem.classList.remove("active");
                    });
                    item.classList.add("active");
                });
            });
            const getAllButton = document.querySelector(".BtnGetAllAchievemenets");
            getAllButton.addEventListener("click", function (ee) {
                ee.preventDefault();
                console.log("All clicked")
                SectachieveNavItem.forEach(section => {
                    section.style.display = "block";
                });
                achieveNavItem.forEach(navItem => {
                    navItem.classList.remove("active");
                });
                getAllButton.classList.add("active")
            });
        });
        
    </script>
}
