@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
    IEnumerable<Blog> Blogss = ViewBag.Blogs as IEnumerable<Blog>;
    var Blogs = Blogss.ToList();
}
<div class="main">
    <div class="lastest">
        <div class="HeaderTitle">مستجدات</div>
        <div class="blogs">
            <div class="mainblog mx-1">
                <img src="~/images/blogs/aaa.jpg" alt="" />
                <small class="date text-muted">@DateOnly.FromDateTime(Blogs[0].CreationDate)</small>
                <a href="">
                    <h4>@Blogs[0].Title</h4>
                </a>
                <button style="font-weight:300; border-radius:inherit;" class="btn btn-primary">أكمل القراءة </button>
            </div>
            <div class="secondblogs">
                @foreach (var blog in Blogs)
                {
                    @if(blog.Id == Blogs[0].Id)
                    {
                        continue;
                    }
                    <a style="display:inherit;" asp-controller="Admin" asp-action="Details" asp-route-id="@blog.Id">
                        <div class="my-1 d-flex">
                            <img src="~/images/blogs/aaa.jpg" alt="" class="mx-1" style="width:49%" />
                            <p>
                                <small style="font-size:10px ; font-weight:100;" class="text-muted d-block">@DateOnly.FromDateTime(blog.CreationDate)</small>
                                <span class="text-secondary">
                                    @blog.Title
                                </span>
                            </p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="wordOfHead">
        <div class="HeaderTitle">كلمة رئيس المجلس الإقليمي</div>
        <img src="~/images/blogs/PREE.png" alt="" />
        <p >
            أختي المواطنة، أخي المواطن، يسرني أصالة عن نفسي ونيابة عن كافة أعضاء مجلس إقليم تطوان، أن أرحب بكم في البوابة الإلكترونية الرسمية للمجلس، التي نروم من خلالها أن تكون أداة للتواصل بين المجلس و مواطني الإقليم ومختلف متتبعي الشأن العام المحلي. تتيح البوابة لزائريها الاطلاع على بيانات ومعلومات عامة عن الإقليم و كذا الإطلاع على التنظيم الهيكلي للمجلس وأنشطته
        </p>
        <button style="font-weight:300; border-radius:inherit;" class="btn btn-primary">أكمل القراءة </button>
    </div>
</div>
<div class="">
    <nav class="navbar navbar-expand-lg text-white">
        <div class="SecondNavbar collapse navbar-collapse" id="navbarSupportedContent">
            <div class="rightText">
                مشاريع و منجزات
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">الكل</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">التعليم</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">الرياضة</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">دعم المجال الإجتماعي</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">البنية التحتية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">تأهيل وتثمين المدينة العتيقة لتطوان</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="CardsSeconNav row" style="display:flex; flex-wrap:wrap;">
        <div class="Card ">
            <img src="~/images/blogs/aswar1-390x220.jpg" alt="" />
            <h6>بناء أسوار بالمؤسسات التعليمية</h6>
        </div>
        <div class="Card ">
            <img src="~/images/blogs/hafilathamra-390x220.jpg" alt="" />
            <h6>تدبير مرفق النقل المدرسي بالعالم القروي</h6>
        </div>
        <div class="Card ">
            <img src="~/images/blogs/HAFILAT1-390x220.jpg" alt="" />
            <h6> إقتناء حافلات النــقــــل المـــــدرسي</h6>
        </div>
        <div class="Card ">
            <img src="~/images/blogs/zaouiatkasem-390x220.png" alt="" />
            <h6>إنجاز وتهيئة ملاعب القرب</h6>
        </div>
    </div>

</div>

<div class="voyage bg-light row d-flex justify-content-evenly">
    <div class="col-3">
        <img src="~/images/blogs/number-urgant-1.png" width="100%"/>
    </div>
    <div class="col-3">
        <img src="~/images/blogs/CTM.png" width="100%"/>
    </div>
</div>
