@using System.ComponentModel.DataAnnotations;
@using System.Reflection;
@model IEnumerable<Parameters>
@{
    Layout = "_AdminLayout";
}

<main class="main">
    <div class="card" style="padding:20px">
        <table dir="rtl" id="BlogTab">
            <thead>
                <tr>

                    <th style="text-align:right;">@Html.DisplayNameFor(model=>model.Key)</th>
                    <th style="text-align:right;">@Html.DisplayNameFor(model=>model.Value)</th>
                    <th style="text-align:right;">@Html.DisplayNameFor(model=>model.TypePara)</th>
                    <th width="20%"></th>


                </tr>
            </thead>
            <tbody>
                @foreach (var sect in Model)
                {
                    <tr>
                        <td>@(sect.Key.Length > 28 ? sect.Key.Substring(0, 27) + " ..." : sect.Key)</td>
                        <td>@(sect.Value?.Length > 28 ? sect.Value?.Substring(0, 27) + " ..." : sect.Value)</td>

                        <td>
                            @(((TypeParams)sect.TypePara).GetDisplayName())
                        </td>
                        @*<td>@(Enum.GetName(typeof(TypeParams), sect.TypePara))</td>*@

                        <td width="20%" style="text-align:center;display:flex">
                            <a asp-controller="Parameter" asp-action="Edit" asp-route-id="@sect.Id" class="btn btn-primary"><i class="fa fa-pencil fa-lg"></i></a>
                            @*<form asp-controller="Parameter" asp-action="Delete" asp-route-id="@sect.Id" onSubmit="if(!confirm('تأكيد حذف الفئة الرئيسية؟')){return false;}">
                                <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o fa-lg"></i></button>
                            </form>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</main>