@model Parameters
@{
    Layout = "_AdminLayout";
}
<main class="main">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="card card-inverse card-primary">
                        <div class="card-block p-b-5">
                            <h4 class="m-b-1">15</h4>
                            <h6>عدد المقالات</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card card-inverse card-info">
                        <div class="card-block p-b-5">
                            <h4 class="m-b-1">100</h4>
                            <h6>عدد الفئات الرئيسية</h6>
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-lg-3">
                    <div class="card card-inverse card-warning">
                        <div class="card-block p-b-5">
                            <h4 class="m-b-1">9</h4>
                            <h6>عدد الفئات الفرعية</h6>
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-lg-3">
                    <div class="card card-inverse card-danger">
                        <div class="card-block p-b-5">
                            <h4 class="m-b-1">8</h4>
                            <h6>الفئات الخاصة بالمشاريع منجزة</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--/.container-fluid-->

    <div class="card">
        <div class="card-header">
            <strong>تحديت  معامل (متغيير) </strong>
        </div>
        <div class="card-block">
            <form asp-controller="Parameter" asp-action="Edit" method="post" class="form-horizontal " enctype="multipart/form-data">
                <input type="hidden" name="id" value="@Model.Id" />
                <input type="hidden" name="key" value="@Model.Key" />
                <input type="hidden" name="TypePara" value="@Model.TypePara" />
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="hf-email">الإسم معامل</label>
                    <div class="col-md-7">
                        @Html.TextBoxFor(model => model.Key, new { @class = "form-control"})
                    </div>
                </div>
                @if (Model.TypePara == (int)TypeParams.boolean)
                {
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="hf-email">قيمة المعامل  </label>
                        <div class="col-md-7">
                            <input type="radio" asp-for="Value" value="true"> نعم
                            <input type="radio" asp-for="Value" value="false"> لا    
                        </div>
                    </div>
                }
                @if (Model.TypePara == (int)TypeParams.text || Model.TypePara == (int)TypeParams.utl)
                {
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="hf-email">قيمة المعامل  </label>
                        <div class="col-md-7">
                            @Html.TextBoxFor(model => model.Value, new {@placeholder="", @class = "form-control" })
                        </div>
                    </div>
                }
                @if (Model.TypePara == (int)TypeParams.image)
                {
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="hf-email">قيمة المعامل  </label>
                        <div class="col-md-7">
                            <input asp-for="Value" name="ImageValue" type="file" class="form-control" accept=".jpg,.png,.gif">
                        </div>
                    </div>
                }
                <div>
                    <button type="submit" class="btn btn-sm btn-primary col-md-2 p-x-3" style="padding-top:8px; padding-bottom:8px;"><i class="fa fa-dot-circle-o"></i> حفظ</button>
                </div>
            </form>
        </div>

                
</main>